.card__items {
  position: absolute;
  width: 440px;
  height: 110px;
  background: #1F2326;
  border: 2px solid #F8F8F8;
  bottom: -35px;
  left: 31px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

