.header__menu-link {
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  transition: color .2s linear;
  margin-right: 70px;
}

.header__menu-link:nth-of-type(3), .header__menu-link:nth-of-type(5) {
  display: flex;
  align-items: center;
}

.header__menu-link:nth-of-type(3)::after, .header__menu-link:nth-of-type(5)::after  {
  content: '';
  width: 7px;
  height: 6px;
  margin-left: 13px;
  display: block;
  background-image: url(../../../images/Polygon.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__menu-link:hover {
  color: #FF4656;
}

